<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>About Us</h4>
    </div>
    <div class="panel-body">
        <div class="row"><h3>Want to know our mission?</h3></div>
        <div class="row home-tag" style="padding-bottom:10px;">
          <b>Values. Purpose. Goals.</b>
        </div>
          <div class="row">
            <div class="col-lg-6">
              <p>For engineers and programmers, the recruiting industry is like the Wild, Wild, West.
              Every single day we are bombarded with emails, phone calls, and LinkedIn requests about
              full-time positions from total strangers.</p>

              <p>Most of these job offers are a hodgepodge of technical buzzwords designed for search engines and job boards.
              Every recruiters wants your time, resume, and personal information.</p>

              <p>Most times you never hear from them again.</p>

              <p>There is no rating system on how professional, effective, or ethical these recruiters are.</p>

              <p>Our goal is to help you find quality recruiters and give reviews on the ones that don't meet standards.﻿</p>
            </div>
            <div class="col-lg-6">
              <img src="./assets/images/company-vision.jpg" class="img-responsive" width="400" height="313"/>
            </div>
        </div>
    </div>
</div>
