<div class="panel panel-primary">
  <div class="panel-heading">
      <h4>Register an Account</h4>
  </div>

  <div class='panel-body'>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <form #form="ngForm" (submit)="submitForm(form)" novalidate>
            <div class="row signup-item">
              <div class="col-lg-3">
                <label class="control-label">Name</label>
              </div>
              <div class="col-lg-5">
                  <input maxlength="50" #name="ngModel" type="text" name="name" placeholder="Name" [(ngModel)]="model.name" required>
                  <span *ngIf="name.invalid && name.touched" class="red">* required.</span>
              </div>
            </div>
            <div class="row signup-item">
              <div class="col-lg-3">
                <label class="control-label">Job Title</label>
              </div>
              <div class="col-lg-5">
                  <input maxlength="50" #title="ngModel" type="text" name="title" placeholder="ex, Full Stack Engineer" [(ngModel)]="model.title" required>
                  <span *ngIf="title.invalid && title.touched" class="red">Job Title is required.</span>
              </div>
            </div>
            <div class="row signup-item">
              <div class="col-lg-3">
                <label class="control-label">Linked In
                   <svg class="li_icon">
                      <use xlink:href="./assets/images/sprite.svg#icon-linkedin"></use>
                    </svg>
                </label>
              </div>
              <div class="col-lg-5">
                  <input maxlength="50" #linkedin="ngModel" type="text" name="linkedin" placeholder="Linkedin Profile Url" [(ngModel)]="model.linkedin" required>
                  <span *ngIf="linkedin.invalid && linkedin.touched" class="red">Linkedin Url is required.</span>
              </div>
            </div>

            <div class="row signup-item">
              <div class="col-lg-3">
                <label class="control-label">Email</label>
              </div>
              <div class="col-lg-5">
                <input
                    maxlength="50"
                    #email="ngModel"
                    type="email"
                    name="email"
                    placeholder="Enter Email Address"
                    [(ngModel)]="model.email"
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    required>
                  <span *ngIf="email.invalid && email.touched" class="red">Valid Email is required.</span>
              </div>
            </div>
            <div class="row signup-item">
                <div class="col-lg-3">
                  <label class="control-label">Password</label>
                </div>
                <div class="col-lg-5">
                  <input maxlength="10" #password1="ngModel" type="password" name="password1"
                    placeholder="Enter Password"
                    [(ngModel)]="model.password1" required>
                    <span *ngIf="password1.invalid && password1.touched" class="red">Password is required.</span>
                </div>
            </div>
            <div class="row signup-item">
                <div class="col-lg-3">
                  <label class="control-label">Confirm</label>
               </div>
               <div class="col-lg-5">
                 <input maxlength="10" #password2="ngModel" type="password" name="password2"
                    placeholder="Confirm Password"
                    [(ngModel)]="model.password2" required>
                    <span *ngIf="password2.invalid && password2.touched" class="red">Password Confirm is required.</span>
                    <span *ngIf="passwordFail" class="alert alert-danger">Password Do Not Match.</span>
                </div>
            </div>

            <div class="row signup-item">
                <div class="col-lg-8">
                  <input
                    #terms="ngModel"
                    type="checkbox"
                    name="terms"
                    placeholder="Confirm Password"
                    [(ngModel)]="model.terms">
                  <label class="control-label">
                    I have read and agree to the terms of service
                  </label>
              </div>
            </div>
            <div class="row signup-footer">
              <button type="submit" class="btn btn-success" [disabled]="form.invalid">Sign Up</button>
              <button type="reset" class="btn btn-default" (click)='cancel()'>Cancel</button>
            </div>
          </form>
        </div>
        <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-8">
                  <h2 class="signup-benefit-header">Why Signup?</h2>
                  <ul class="signup-benefits">
                    <li>Access to our recruiter database.</li>
                    <li>Obtain real reviews from software engineers.</li>
                    <li>Reduce spam and harassing phone calls.</li>
                    <li>Protect your personal data.</li>
                  </ul>
                </div>
              </div>
        </div>
      </div>

</div>
