thead {
    color: #337AB7;
}

input[type=email] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
}

@media only screen and (max-width: 600px) {
  input[type=email] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 2rem;
    width: 300px;
  }
}

input[type=email]:focus {
    border-color:#333;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
}

@media only screen and (max-width: 600px) {
  input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 2rem;
  }
}

input[type=text]:focus {
    border-color:#333;
}

input[type=password] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
}

@media only screen and (max-width: 600px) {
  input[type=password] {
      padding:5px;
      border:2px solid #ccc;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      width: 300px;
      margin-bottom: 2rem;
  }
}

input[type=password]:focus {
    border-color:#333;
}

.signup-item {
  padding-top: 5px;
  padding-bottom: 10px;
  width: 95%;
}

.signup-footer {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-benefit-header {
  border-bottom: 2px solid #5bc0de;
}

.signup-benefits {
  padding-top: 10px;
  font-size: 1.8rem;
}


.li_icon {
  height: 2rem;
  width:2rem;
  fill:  var(--color-blue-generic);
}
