
.profile-item {
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f2f2f2;
}

input[type=text], input[type=password], input[type=email]  {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 300px;
}

input[type=text], input[type=password], input[type=email]:focus {
    border-color:#333;
}
