:root {
  --color-primary:#eb2f64;
  --color-primary-light:#FF3366;
  --color-primary-dark:#BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-blue-generic: #337ab7;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

  --line: 1px solid var(--color-grey-light-2);
}


@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.4rem;
  }
}

.footer-buttons {
  text-align: center;
}

.header {
  text-align: center;
}

.logo {
  padding-top: 20px;
  left:7%;
}



.signbar {
  align-self: center;
  padding-top: 20px;
  padding-bottom: 10px;
  right:10%;
}

@media only screen and (max-width: 600px) {
  .signbar {
    text-align: center;
    right:0%;
  }
}


.footer {
  text-align: center;
  padding-bottom: 20px;
}

.footer a {
  color: #999;
}

.hidden-xs-inline {
 display: inline-block !important;
}

img {
 padding: 5px;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.1em;
    padding-bottom: 5px;
  }
}
