<div>
  <div class="row header">
    <div class='col-md-2 logo hidden-xs'>
        <button class="btn btn-info" (click)='onHome()'>BETA VERSION</button>
    </div>
    <div class='col-md-8'>
      <h2>Are you frustrated by bad recruiters?</h2>
    </div>
    <div *ngIf = "userLoggedIn" class='col-md-2 signbar'>
      <button class="btn btn-success" [routerLink]="['/profile', userAuthId]">Your Profile</button>
      <button class="btn btn-info" (click)='logout()'>Logout</button>
    </div>
    <div *ngIf = "!userLoggedIn" class='col-md-2 signbar'>
      <button class="btn btn-success" [routerLink]="['/admin/signup']">Sign Up Now</button>
      <button class="btn btn-info"  [routerLink]="['/admin/login']">Login</button>
    </div>
  </div>
  <div class="row">
      <div class='container'>
          <router-outlet></router-outlet>
      </div>
   </div>
   <div class="row footer">
     <div class='col-md-12'>
       <a [routerLink]="['/about']">About Us</a> |
       <a [routerLink]="['/contact']">Contact Us</a>
     </div>
   </div>
</div>
