<app-nav></app-nav>
<div class='panel panel-primary' *ngIf='recruiter'>
    <div class='panel-heading'>
          {{'Recruiter Detail: ' + recruiter.name}}
    </div>
    <div class='panel-body'>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
                  <div class="row hhr-item">
                    <div class="col-md-2">Name</div>
                    <div class="col-md-6">{{ recruiter.name }}</div>
                  </div>
                  <div class="row hhr-item">
                    <div class="col-md-2">Title</div>
                    <div class="col-md-6">{{ recruiter.title }}</div>
                  </div>
                  <div class="row hhr-item">
                    <div class="col-md-2">Email</div>
                    <div class="col-md-6">{{ recruiter.email }}</div>
                  </div>
                  <div class="row hhr-item">
                    <div class="col-md-2"><img src="./assets/images/square-linkedin.png" width="20" height="20"/></div>
                    <div class="col-md-6"><a href="{{ recruiter.linkedIn }}" target="_blank">{{ recruiter.linkedIn }}</a></div>
                  </div>
                  <div class="row hhr-item">
                      <div class="col-md-2">Rating</div>
                      <div class="col-md-6"><app-rating [rating]='(recruiter.reviews | ratingrecruiter : "stars" )' [itemId]='0'></app-rating></div>
                  </div>
              </div>
              <div class="col-lg-6">
                <div class="row hhr-item">
                  <div class="col-md-2">Company</div>
                  <div class="col-md-6">{{ recruiter.company.name }}</div>
                </div>
                <div class="row hhr-item">
                  <div class="col-md-2">Address</div>
                  <div class="col-md-6">{{ recruiter.company.address1 }} {{ recruiter.company.address2 }}</div>
                </div>
                <div class="row hhr-item">
                  <div class="col-md-2">City</div>
                  <div class="col-md-6">{{ recruiter.company.city }}, {{ recruiter.company.state }} {{ recruiter.company.zipcode }}</div>
                </div>
                <div class="row hhr-item">
                  <div class="col-md-2">Phone</div>
                  <div class="col-md-6">{{ recruiter.company.industry }}</div>
                </div>
                <div class="row hhr-item">
                  <div class="col-md-2">Website</div>
                  <div class="col-md-6">{{ recruiter.company.url }}</div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


<div class='panel panel-primary' *ngIf='recruiter'>
    <div class='panel-heading'>
      {{recruiter.reviews.length}} {{ (recruiter.reviews.length > 1) ? ' Reviews ' :  ' Review '  }} for {{recruiter.name}}
    </div>

    <div div class='panel-body' *ngIf='recruiter.reviews.length > 0'>
      <div class="container">
          <div class="col-lg-12 ">
            <div class="row hhr-header  hidden-xs">
              <div class="col-lg-2"><b>Title</b></div>
              <div class="col-lg-3"><b>Review</b></div>
              <div class="col-lg-2"><b>Rating</b></div>
              <div class="col-lg-2"><b>Tags</b></div>
              <div class="col-lg-3"><b>Reviewer</b></div>
          </div>
          <div class="row hhr-item" *ngFor='let review of recruiter.reviews'>
            <div class="col-lg-2"><a [routerLink]="['/review', review.uniqueId]">{{ review.title }}</a></div>
            <div class="col-lg-3">{{review.body | truncate : 200 }}</div>
            <div class="col-lg-2">
              <app-rating [rating]='review.stars' [itemId]='review.uniqueId'></app-rating>
            </div>
            <div class="col-lg-2">
                <span *ngIf="review.isTooAggressive">Aggressive | </span>
                <span *ngIf="review.isDishonestJob">Dishonest | </span>
                <span *ngIf="review.isPersonalInfo">Data Thief | </span>
                <span *ngIf="review.isFakeProfile">Fake Profile </span>
            </div>
            <div class="col-lg-3">
                <div *ngIf='review.candidate'>
                  <a href="mailto:{{review.candidate.email}}">{{ review.candidate.name }}</a><br>
                  {{ review.candidate.title }}<br>
                  {{ review.candidate.email }}<br>
                  {{ review.date | date: 'MM/dd/yyyy' }}<br>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row hhr-footer" align="center" *ngIf="IsLoggedin">
      <button class="btn btn-success" (click)='onAddReview(recruiter.uniqueId)'>Review {{recruiter.name}}</button>
    </div>
</div>
