<app-nav></app-nav>
<div class="panel panel-primary">
    <div class="panel-heading">Welcome to Headhunt Review</div>
    <div class="panel-body">
        <div class="row"><h3>Most online recruiters are dishonest or fake.</h3></div>
        <div class="row home-tag"><b>Don't get burned. Reduce spam. Less harassment.</b></div>
        <div class="row"><img src="./assets/images/rr.jpg" class="img-responsive center-block home-image"/></div>
        <div class="row"><h3>Trusted Reviews by real engineers</h3></div>
        <div class="row">
          <div class="col-md-12 footer-buttons" >
            <button class="btn btn-success footer-button">Industry Peers</button>
            <button class="btn btn-primary footer-button">Honest Reviews</button>
            <button class="btn btn-info footer-button">Valuble Information</button>
          </div>
        </div>
    </div>
</div>
